@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /**
   * Tailwind CSS theme
   * tailwind.config.ts expects the following color variables to be expressed as HSL values.
   * A different format will require also updating the theme in tailwind.config.ts.
  */
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;

    --primary: 218 91% 54%;
    --primary-foreground: 0 0% 100%;

    --secondary: 213 100% 96%;
    --secondary-foreground: 218 91% 54%;

    --muted: 213 100% 96%;
    --muted-foreground: 0 0% 26%;

    --accent: 213 100% 96%;
    --accent-foreground: 218 91% 54%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 213 100% 96%;
    --input: 213 100% 96%;
    --ring: 218 91% 54%;

    --radius: 0.375rem;

    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 0 0% 0%;
    --sidebar-primary: 218 91% 54%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 213 100% 96%;
    --sidebar-accent-foreground: 218 91% 54%;
    --sidebar-border: 213 100% 96%;
    --sidebar-ring: 218 91% 54%;
  }

  .dark {
    --background: 0 0% 5%;
    --foreground: 0 0% 100%;

    --card: 0 0% 5%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 5%;
    --popover-foreground: 0 0% 100%;

    --primary: 218 91% 54%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 10%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 10%;
    --muted-foreground: 0 0% 60%;

    --accent: 0 0% 10%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 10%;
    --input: 0 0% 10%;
    --ring: 218 91% 54%;
    --sidebar-background: 0 0% 5%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 218 91% 54%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 10%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 0 0% 10%;
    --sidebar-ring: 218 91% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
